<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="niveau">
      <h2 data-cy="niveauDetailsHeading"><span>Niveau</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ niveau.id }}</span>
        </dd>
        <dt><span>Libelle</span></dt>
        <dd>
          <span>{{ niveau.libelle }}</span>
        </dd>
        <dt><span>Departement</span></dt>
        <dd>
          <div *ngIf="niveau.departement">
            <a [routerLink]="['/departement', niveau.departement.id, 'view']">{{ niveau.departement.id }}</a>
          </div>
        </dd>
        <dt><span>Dossier</span></dt>
        <dd>
          <div *ngIf="niveau.dossier">
            <a [routerLink]="['/dossier', niveau.dossier.id, 'view']">{{ niveau.dossier.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/niveau', niveau.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
