<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">{{ account.login }}.</span>
      </div>

      <div class="d-flex justify-content-end">
        <div class="alert alert-info"
             style="max-width: 540px; border-radius: 10px; border: 1px solid #033bf4;
              height: 110px; display: flex; justify-content: center; align-items: center;
              font-family: 'Cambria', sans-serif; text-align: center; margin-top: 60px;">
          <p style="font-size: 12px;">Le Ministère de l'Enseignement supérieur, de la Recherche et de l'Innovation porte
            à la connaissance des nouveaux bacheliers admis à la session normale de juillet
            que les demandes d'admission et de pré-inscription dans les
            universités du Niger sont faites sur cette
            plateforme avec un, délai de rigueur.</p>
        </div>
      </div>


      <div class="d-flex justify-content-end">
        <div class="alert alert-info ml-auto" *ngSwitchCase="false"
             style="height: 160px; border-radius: 10px; border: 1px solid #033bf4; width: 540px;
             display: flex; justify-content: center; flex-direction: column; align-items: center;
             font-family: 'Cambria', sans-serif;">
          <a class="alert-link btn btn-success border my-2 py-3" routerLink="account/register"
             style="width: 350px; border-radius: 10px; border: 30px solid light; color: white;"
          >Créer un compte</a>

          <a class="alert-link btn btn-light border my-2 py-3 text-success" (click)="login()"
             style="width: 350px; border-radius: 10px; border: 1px solid #033bf4; z-index: 99;
          display: flex; justify-content: center; flex-direction: column; align-items: center;
          font-family: 'Cambria', sans-serif;"
          >Se connecter</a>

        </div>
      </div>
      <div class="d-flex justify-content-end">
        <div class="alert alert-warning" style="max-width: 540px; border-radius: 10px; border: 1px solid #033bf4;
                  height: 165px;display: flex; justify-content: center; flex-direction: column; align-items: center;
                  font-family: 'Cambria', sans-serif; text-align: center; my-2 py-3">
          <p style="font-size: 12px;">
            Il ne faut, en aucun cas, communiquer vos informations de connexion à des tiers.
            Elles sont strictement personnelles et doivent être soigneusement conservées par le bachelier.
            Il est absolument interdit de recourir à des tiers ou des associations, à quelque titre que ce soit,
            dans le cadre des opérations réalisées en vue de l’orientation. Les contrevenants risquent de ne pas
            être orientés dans les établissements d’enseignement supérieur publics ou privés et pour ces derniers
            de ne pas recevoir de l’Etat des étudiants.
            Pour toutes informations à propos de l’ouverture de la plateforme ou de la procédure d’orientation,
            vous pouvez vous connecter sur: www.mesr.gouv.sn, campusen.sn , www.facebook.com/mesr.sn,
          </p>
        </div>
      </div>

      <div class="hipster" style="width: 520px; height: 552px; background:
           url('../../content/images/4.jpg') no-repeat center top;background-size: cover;
           margin-top: -567px; margin-left: -290px;">
      </div>

    </div>
  </div>
</div>
