

    <div [ngSwitch]="account !== null" style="margin-top: 45px;">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">{{ account.login }}.</span>
      </div>

      <div class="d-flex justify-content-end">
        <div class="alert alert-info ml-auto" *ngSwitchCase="false"></div>
      </div>
  </div>




<div class="row">
  <div class="col-sm-6">
    <div style=" background: url('../../content/images/4.jpg') no-repeat center top; background-size: cover;">
      <img src="../../content/images/4.jpg" class="card-img-top" alt="home" style="height: 517px;">
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="alert alert-info" style="font-size: 12px; font-family: 'Cambria', sans-serif;
                  max-width: 500px; border-radius: 10px; border: 1px solid #033bf4;
                  height: 110px; display: flex; justify-content: center; align-items: center;
                  font-family: 'Cambria', sans-serif; text-align: center;
                  ">
          Le Ministère de l'Enseignement supérieur, de la Recherche et de l'Innovation porte
          à la connaissance des nouveaux bacheliers admis à la session normale de juillet
          que les demandes d'admission et de pré-inscription dans les
          universités du Niger sont faites sur cette
          plateforme avec un, délai de rigueur.</p>

        <div class="alert alert-info" style="height: 160px; border-radius: 10px; border: 1px solid #033bf4; width: 500px;
             display: flex; justify-content: center; flex-direction: column; align-items: center;
             font-family: 'Cambria', sans-serif;">
        <a class="alert-link btn btn-success border my-2 py-3" routerLink="account/register"
           style="width: 350px; border-radius: 10px; border: 30px solid light; color: white; margin-top: 30px;"
        >Créer un compte</a>

        <a class="alert-link btn btn-light border my-2 py-3 text-success" (click)="login()"
           style="width: 350px; border-radius: 10px; border: 1px solid #033bf4; z-index: 99;
          display: flex; justify-content: center; flex-direction: column; align-items: center;
          font-family: 'Cambria', sans-serif;"
        >Se connecter</a>
        </div>
        <p class="alert alert-warning" style="font-size: 12px;font-family: 'Cambria', sans-serif;
                  max-width: 500px; border-radius: 10px; border: 1px solid #033bf4;
                  height: 165px;display: flex; justify-content: center; flex-direction: column; align-items: center;
                  font-family: 'Cambria', sans-serif; text-align: center; margin-top: 15px;
                  ">
          Il ne faut, en aucun cas, communiquer vos informations de connexion à des tiers.
          Elles sont strictement personnelles et doivent être soigneusement conservées par le bachelier.
          Il est absolument interdit de recourir à des tiers ou des associations, à quelque titre que ce soit,
          dans le cadre des opérations réalisées en vue de l’orientation. Les contrevenants risquent de ne pas
          être orientés dans les établissements d’enseignement supérieur publics ou privés et pour ces derniers
          de ne pas recevoir de l’Etat des étudiants.
          Pour toutes informations à propos de l’ouverture de la plateforme ou de la procédure d’orientation,
          vous pouvez vous connecter sur: www.mesr.gouv.sn, campusen.sn , www.facebook.com/mesr.sn,
        </p>

      </div>
    </div>
  </div>
</div>
