<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="departement">
      <h2 data-cy="departementDetailsHeading"><span>Departement</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ departement.id }}</span>
        </dd>
        <dt><span>Libelle</span></dt>
        <dd>
          <span>{{ departement.libelle }}</span>
        </dd>
        <dt><span>Faculte</span></dt>
        <dd>
          <div *ngIf="departement.faculte">
            <a [routerLink]="['/faculte', departement.faculte.id, 'view']">{{ departement.faculte.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/departement', departement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
